{% extends "base.html" %}
{% block content %}
<div class="pure-g-r content-ribbon">
            <div class="pure-u-1">
                <h1>Fale consco</h1>
                <p>Você pode entrar em contato conosco, por email ou por nossas redes sociais
                abaixo segue os links para cantato:</p>
                <h4>Links</h4>
                <ul>
                    <li>E-mail: <a href="Alessandro: contato@posts.com.br">
                        contato@cursoson.com.br</a>
                    </li>
                    <li>Twitter: <a href="https://twitter.com/posts">
                        @posts.com.br</a> </li>
                </ul>
            </div>
            <div class="pure-u-2-3">
                <div class="l-box">
                    <h4 class="content-subhead">Contate-nos quando quiser</h4>
                </div>
            </div>
        </div>
{% endblock %}
