{% extends "base.html" %}
{% block content %}
    <div class="splash">
        <div class="pure-g-r">
            <div class="pure-u-1">
                <div class="l-box splash-text">
                    <h1 class="splash-head">
                        Desenhos animados
                    </h1>
                    <h2 class="splash-subhead">
                        Desenhos animados, como caverna do dragão e muitos outros desenhos dos anos 80 - 90
                    </h2>
                    <p>
                        <a href="#" class="pure-button primary-button">Saiba mais</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="pure-g-r content-ribbon">
            <div class="pure-u-2-3">
                <div class="l-box">
                    <h4 class="content-subhead">Postagens principais</h4>
                    <h3>Publique seus desenhos preferidos</h3>
                    <p>
                       vamos incluir aqui tudo sobre eus desenhos preferidos: pdf's, slides, imagens ...
                    </p>
                </div>
            </div>
            <div class="pure-u-1-3">
                <div class="l-box">
                    <img src="http://placehold.it/400x250"
                         alt="Desenhos animes e muito mais.">
                </div>
            </div>
        </div>
        <div class="pure-g-r content-ribbon">
            <div class="pure-u-1-3">
                <div class="l-box">
                    <img src="http://placehold.it/400x250"
                         alt="Fórum de Dúvidas">
                </div>
            </div>
            <div class="pure-u-2-3">
                <div class="l-box">
                    <h4 class="content-subhead">Fórum de Dúvidas</h4>
                    <h3>Interaja com seus colegas</h3>
                    <p>
                        podemos ter nosso proprio Furom de discuções!!
                    </p>
                </div>
            </div>
        </div>
        <div class="pure-g-r content-ribbon">
            <div class="pure-u-2-3">
                <div class="l-box">
                    <h4 class="content-subhead">dddddd</h4>
                    <h3>Vamos avaliar nossos conteudos</h3>
                    <p>
                        vamos criar um espaço para que nossos visitantes possam avaliar nossos conteudos
                    </p>
                </div>
            </div>
            <div class="pure-u-1-3">
                <div class="l-box">
                    <img src="http://placehold.it/400x250"
                         alt="Avaliações">
                </div>
            </div>
        </div>
        <div class="pure-g-r content-ribbon">
            <div class="pure-u-1-3">
                <div class="l-box">
                    <img src="http://placehold.it/400x250"
                         alt="Mural de Avisos">
                </div>
            </div>
            <div class="pure-u-2-3">
                <div class="l-box">
                    <h4 class="content-subhead">Mural de Avisos</h4>
                    <h3>Envie anúncios diretamente para nossos usuarios</h3>
                    <p>
                        Organize os avisos do seu post de forma fácil e simples.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
    <div class="footer">
        Simple blog - Uma simples plataforma para postagens de conteudos
    </div>
</div>
<script src="http://yui.yahooapis.com/3.12.0/build/yui/yui-min.js"></script>
</body>
</html>